.card {
  border: 2px solid var(--white);
  background-color: var(--bg-blue);
  border-radius: 6px;
}

.title {
  padding: 16px 96px 0 16px;
  color: var(--bg-blue);
  background-color: var(--white);
  font-size: 16px;
}

.subtitle {
  padding: 0 96px 16px 16px;
  color: var(--bg-blue);
  background-color: var(--white);
  font-size: 14px;
  font-weight: 400;
}

.card_body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px 34px;
  font-size: 14px;
  color: var(--white);
}

.logo {
  display: flex;
  justify-content: center;
  margin: 24px 0 24px 100px;
}

@media screen and (min-width: 600px) {
  .card {
    max-width: 400px;
  }
}
